* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --verde-color: #AACAAB;
}

body{
    font-family: 'Patrick Hand', cursive;
}

header{
    width: 100%;
    background-color: var(--verde-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


.logo{
    margin: 10px 30px 10px 10px;
    float: right;
    top: 5px;
    left: 10px;
    width: 70px;

/* Preguntas realizadas en la actividad: 

1. Se ha trasladado un poco a la derecha sin perder la posición (posición relativa). 
2. A perdido la posición ocupando el titulo su lugar y el logo se ha puesto por encima (posición absoluta).
3. Por ultimo a aplicado posición flotante a la derecha.
4.  Para los ejercicios anteriores he tenido que borrar código :(
*/
}

/*
section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

nav {
    width: 70%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}

nav h2 {
    font-size: 1.5rem;
}
nav ul li a {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

nav ul li {
    padding: 5px;
    list-style-type: none;
    display: inline-block;
}

nav ul li a:hover{
    color: var(--verde-color);
}

main {
    width: 50%;
    float: left;
}

aside {
    width: 25%;
    float: right;
}

main img {
    width: 80%;
}

aside img {
    width: 55%;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: var(--verde-color);
    width: 100%;
    padding: 25px;
}

footer p {
    display: inline;
}

footer p:first-child{
    float: left;
}

footer p:last-child{
    float: right;
}